# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/forge/
/fabric/runs/*
/fabric/runs/client/*
/fabric/runs/server/*
/common/src/generated/resources/.cache/*
